# Bonus: Temperature Analysis I

In [3]:
import pandas as pd
from datetime import datetime as dt
import os

In [4]:
os.getcwd()

'c:\\Users\\SMKazmi\\Resources\\sqlalchemy-challenge'

In [5]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [6]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [7]:
# Set the date column as the DataFrame index
date_index= df.set_index('date')
date_index

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [9]:
from scipy import stats
from scipy.stats import sem
from math import sqrt

In [10]:
# Filter data for desired months
ave_temp_jun=date_index.iloc[date_index.index.month==6] 
ave_temp_jun

ave_temp_dec=date_index.iloc[date_index.index.month==12]
ave_temp_dec

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [11]:
# Identify the average temperature for June
tobs_june= ave_temp_jun['tobs'].mean()
tobs_june

74.94411764705882

In [12]:
# Identify the average temperature for December
tobs_dec= ave_temp_dec['tobs'].mean()
tobs_dec

71.04152933421226

In [13]:
# Create collections of temperature data
temp_june = ave_temp_jun['tobs'].tolist()

temp_dec= ave_temp_dec['tobs'].tolist()

In [14]:
# Run paired t-test
stats.ttest_ind(temp_june, temp_dec)
#Since the P-value is 3.0025...e-191 and is lower than 0.05, we cannot accept the test.

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis